{
    "from_email": "sender@domain.com",
    "from_pwd": "sender-password",
    "from_smtp_host": "smtp.gmail.com",
    "from_smtp_port": 587,
    "to_email": "mymail@domain.com",
    "servers": ["KS-3"],
    "zones": ["rbx", "sbg"]
}
