{
    "servers": ["KS-1"],
    "region": "europe",
    "notifier": "email",
    "from_email": "sender@domain.com",
    "from_pwd": "sender-password",
    "from_smtp_host": "smtp.gmail.com",
    "to_email": "mymail@domain.com",
    "crawler_interval": 30,
    "request_timeout": 30
}
